@import url("https://fonts.googleapis.com/css2?family=ubuntu:400,700&display=swap");

*{ margin : 0; padding: 0; 
}
body {
    background-color: #fff;
    color: #222;
    font-family: 'ubuntu', sans-serif;
    margin: 0;
}
header {
   text-align: center;
    display: flex;
    border-bottom-left-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    display: flex;
        background: linear-gradient(135deg, #232942 60%, #5106e8 100%);
        color: #fff;
        font-family: 'ubuntu', sans-serif;
        margin: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100vh;
        background: rgba(0,0,0,0.2);
        box-shadow: 0 0 32px rgba(81,6,232,0.12);
        border-radius: 24px;
        padding: 0;
        border: 7px solid #5106e8;
        margin: 5%;
        font-size: 1.3em;
        width: 100%;
        background: url('img/foto_cabecera_cv.jpg') center/cover no-repeat;
        padding: 2em 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        position: relative;
        color: #5106e8;
        background: #fff;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        border: 5px solid #fff;
        box-shadow: 0px 0px 20px rgba(81,6,232,0.25);
        background: #fff;
        position: absolute;
        top: 2em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    flex-direction: column;
    gap: 2em;
    font-size: 1.3em;
        margin-top: 7em;
        text-align: center;
        color: #fff;
        text-shadow: 0 2px 8px rgba(0,0,0,0.2);
        font-size: 1.5em;
        font-weight: 700;
    border-bottom: 2px solid #fff;
    padding-bottom: 0.2em;
        border-radius: 50%;
        font-size: 1.1em;
        color: #d1d1e8;
        margin-bottom: 1em;
        text-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-size: 4em;
}
    
cabecera ::before{
content: "";
position: absolute;
    border: none;
    border-top: 2px solid #eee;
    margin: 1em 0;
height: 100%;
background-image: url("img/foto_cabecera_cv.jpg")
background-size cover;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    font-size: 1.1em;
    margin-bottom: 1em;
background-repeat: no-repeat;
opacity: 0.3;
z-index: -1;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 500;
}   
.contenedor_foto_perfil{
    width: 280px;
    margin-top: 1em;
    text-align: justify;
    color: #232942;
    font-size: 1em;
    background: #f8f8ff;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 0 8px rgba(81,6,232,0.05);
    display: inline-block;
    vertical-align:  middle;
    border: 7px solid #5106e8;
    margin: 5%;
    font-size: 1.3em;
    color: #5106e8;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    margin-right: 0.5em;
    box-shadow: 0 0 6px rgba(81,6,232,0.12);
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0px    0px 20px rgba(0, 0, 0, 0.5);
 }

 .contenido_cv {
    display:    flex;
    width: 100%;
 }
 .habilidades{
    display: inline-block;
    vertical-align: top;
    background-color: #5106e8;
    padding: 5%;
    width: 28%;
 }
 .habilidades ul{
    margin-left: 5%;
 }
.carta_presentacion{
    text-align: justify;
}
.grafico{
    width: 34px;
    height: 34px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1%;

}
.dount-hole{
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #5106e8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;

}
.sector{
    position: absolute;
    top: 0;
    left: 50%;
    width:  50%;
    height: 100%;
    transform-origin: left;
}
.sector#sector1{
   transform: rotate(0deg);
   background-color: #f91c8a;
}
.sector#sector2{
    transform: rotate(120deg);
    background-color: #2d0b7c;
}
.sector#sector3{
    transform: rotate(240deg);
    background-color: #58d1bc;
}
.habilidades{
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    width: 50%;
}
.Experiencia{
    display: inline-block
    vertical-align middle;
    padding: 5%;
    width: 50%;
}
.Experiencia h3{
    text-align: right;
}
.nombre_empresa{
    display: inline-block
    vertical-align top;
    width: 50%;
}
.año_experiencia{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;
}
.año_puesto{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
}
.descripcion_puesto{
    margin-top: 3%;
    text-align: justify;
}